<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag=""><i
		class="la la-close"></i></button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark background-orange"
		m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative; height: 100%;">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  " *ngIf="role == 'Director'" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/dashboard/menu" class="m-menu__link" >
					<i class="m-menu__link-icon fas fa-angle-left"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Back</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " *ngIf="role == 'Accountant'" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/dashboard/reports" class="m-menu__link" >
					<i class="m-menu__link-icon fas fa-angle-left"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Back</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" >
				<a routerLink="/settings/setting" class="m-menu__link">
					<i class="fas fa-cog m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Settings</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" *ngIf="role == 'Director'">
				<a routerLink="/settings/employee" class="m-menu__link">
					<i class="fas fa-user m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Employee</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/settings/bank" class="m-menu__link">
					<i class="fas fa-building m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Bank</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/settings/account" class="m-menu__link">
					<i class="fas fa-user-circle m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Account</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/settings/chequebook" class="m-menu__link">
					<i class="fas fa-money-check-alt m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Cheque Book</span>
						</span>
					</span>
				</a>
			</li>
			<!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/settings/costcenter-list" class="m-menu__link">
					<i class="fas fa-receipt m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Cost Center</span>
						</span>
					</span>
				</a>
			</li> -->
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" *ngIf="role == 'Director'">
				<a routerLink="/settings/payee" class="m-menu__link">
					<i class="fas fa-user m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Payee</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" *ngIf="role == 'Director'">
				<a routerLink="/settings/chartofaccounts" class="m-menu__link">
					<i class="fas fa-chart-line m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Chart of Accounts</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/snippets/pages/user/login-1" class="m-menu__link" routerLink="/login">
					<i class="fas fa-sign-out-alt m-menu__link-icon"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Logout</span>
						</span>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->