<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">Add Bank</h3>
    </div>
    <!-- <div>
      <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
        <span class="m-subheader__daterange-label">
          <span class="m-subheader__daterange-title">Today:</span>
          <span class="m-subheader__daterange-date m--font-brand">Feb 24</span>
        </span>
        <a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
          <i class="la la-angle-down"></i>
        </a>
      </span>
    </div> -->
  </div>
</div>
<div class="m-content">
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text text-center">Bank Details:</h3>
        </div>
      </div>
    </div>
    <!--begin::Form-->
    <form [formGroup]="bank" (ngSubmit)="Addbank(bank)"
      class="m-form m-form--fit m-form--label-align-right m-form--group-seperator">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row">
          <label class="col-lg-2 col-form-label">Bank Name:</label>
          <div class="col-lg-6">
            <input formControlName="name" type="text" class="form-control m-input" placeholder="Enter Bank Name" />
            <div *ngIf="
                bank.controls['name'].touched && !bank.controls['name'].valid
              " class="alert alert-danger">
              <span *ngIf="bank.controls['name'].hasError('required')">
                Bank name is required
              </span>
              <span *ngIf="bank.controls['name'].hasError('minlength')">
                Min length is 3
              </span>
              <span *ngIf="bank.controls['name'].hasError('pattern')">
                Name can only have alphabets
              </span>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label class="col-lg-2 col-form-label">Branch Code:</label>
          <div class="col-lg-6">
            <input formControlName="pin" type="text" class="form-control m-input" placeholder="Enter Branch code" />
            <div *ngIf="
                bank.controls['pin'].touched && !bank.controls['pin'].valid
              " class="alert alert-danger">
              <span *ngIf="bank.controls['pin'].hasError('required')">
                Branch Code is required
              </span>
              <span *ngIf="bank.controls['pin'].hasError('pattern')">
                Must be a Number
              </span>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label class="col-lg-2 col-form-label">Branch Location</label>
          <div class="col-lg-6">
            <input formControlName="location" type="text" class="form-control m-input"
              placeholder="Enter Branch Location" />
            <div *ngIf="
                bank.controls['location'].touched &&
                !bank.controls['location'].valid
              " class="alert alert-danger">
              <span *ngIf="bank.controls['location'].hasError('required')">
                Branch Location is required
              </span>
              <span *ngIf="bank.controls['location'].hasError('minlength')">
                Min length is 3
              </span>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label class="col-lg-2 col-form-label">City:</label>
          <div class="col-lg-6">
            <input formControlName="city" type="text" class="form-control m-input" placeholder="Enter City" />
            <div *ngIf="
                bank.controls['city'].touched && !bank.controls['city'].valid
              " class="alert alert-danger">
              <span *ngIf="bank.controls['city'].hasError('required')">
                City is required
              </span>
              <span *ngIf="bank.controls['city'].hasError('minlength')">
                Min length is 5
              </span>
              <span *ngIf="bank.controls['city'].hasError('pattern')">
                city can only have alphabets
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
              <button type="submit" [disabled]="!bank.valid" class="btn btn-focus "
              >
                Submit</button>&nbsp;&nbsp;
               
              <a routerLink="/settings/bank" class="btn btn-outline-focus "
              
              >
              <!-- (click)="activeModal.dismiss('Cross click')" -->
                Back
            </a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--end::Form-->
  </div>
</div>