.banksStats .m-widget27 .m-widget27__pic > img {
  height: 200px;
}

.projectsStats .m-widget28 .m-widget28__pic {
  min-height: 66px;
}

.m-widget4__item {
  display: block;
}

.m-widget28__tab-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-widget24,
.m-widget24__item {
  height: 100% !important;
}

.m-widget24__item {
  flex-direction: column;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.h-180px {
  height: 180px;
}



