<div appunwraptag="" class="m-subheader">
  <div class="d-flex align-items-center"></div>
</div>
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div
        class="m-portlet m-portlet--bordered-semi m-portlet--full-height"
      ></div>
    </div>
  </div>
  <!-- <div class="m-portlet">
    <div class="m-portlet__body  m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-4">
          <div class="m-widget1">
            <div class="m-widget1__item">
              <div class="row m-row--no-padding align-items-center">
                <div class="col">
                  <h3 class="m-widget1__title">Banks</h3>
                  <span class="m-widget1__desc">Total Amount</span>
                </div>
                <div class="col m--align-right">
                  <span class="m-widget1__number m--font-brand">8000000</span>
                </div>
              </div>
            </div>
            <div class="m-widget1__item">
              <div class="row m-row--no-padding align-items-center">
                <div class="col">
                  <h3 class="m-widget1__title">Purchaser</h3>
                  <span class="m-widget1__desc">Total Employees</span>
                </div>
                <div class="col m--align-right">
                  <span class="m-widget1__number m--font-danger">700</span>
                </div>
              </div>
            </div>
            <div class="m-widget1__item">
              <div class="row m-row--no-padding align-items-center">
                <div class="col">
                  <h3 class="m-widget1__title">Issue Reports</h3>
                  <span class="m-widget1__desc">System bugs and issues</span>
                </div>
                <div class="col m--align-right">
                  <span class="m-widget1__number m--font-success">-27,49%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="m-widget14">
            <div class="m-widget14__header m--margin-bottom-30">
              <h3 class="m-widget14__title">Daily Sales</h3>
              <span class="m-widget14__desc">
                Check out each collumn for more details
              </span>
            </div>
            <div class="m-widget14__chart" style="height:120px;">
              <div class="chartjs-size-monitor"
                style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand"
                  style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                  <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                  style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                  <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
              </div>
              <canvas id="m_chart_daily_sales" width="286" height="120" class="chartjs-render-monitor"
                style="display: block; width: 286px; height: 120px;"></canvas>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="m-widget14">
            <div class="m-widget14__header">
              <h3 class="m-widget14__title">Project chart</h3>
              <span class="m-widget14__desc">Graphical view of the project
              </span>
            </div>
            <div class="row  align-items-center">
              <div class="col">
                <div class="m-widget14__chart" id="m_chart_profit_share" style="height: 160px">
                  <div class="m-widget14__stat">60</div>
                  <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%"
                    class="ct-chart-donut" style="width: 100%; height: 100%;">
                    <g class="ct-series custom">
                      <path d="M110.393,101.658A50.867,50.867,0,0,0,64.367,29.133" class="ct-slice-donut" ct:value="32"
                        ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                        style="stroke-width: 17px;" stroke-dasharray="102.27520751953125px 102.27520751953125px"
                        stroke-dashoffset="-102.27520751953125px" stroke="#716aca">
                        <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms" from="-102.27520751953125px"
                          to="0px" fill="freeze" stroke="#716aca" calcMode="spline" keySplines="0.23 1 0.32 1"
                          keyTimes="0;1"></animate>
                      </path>
                    </g>
                    <g class="ct-series custom">
                      <path d="M25.173,112.424A50.867,50.867,0,0,0,110.469,101.497" class="ct-slice-donut" ct:value="32"
                        ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                        style="stroke-width: 17px;" stroke-dasharray="102.45503234863281px 102.45503234863281px"
                        stroke-dashoffset="-102.45503234863281px" stroke="#00c5dc">
                        <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms" from="-102.45503234863281px"
                          to="0px" fill="freeze" stroke="#00c5dc" begin="anim0.end" calcMode="spline"
                          keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                      </path>
                    </g>
                    <g class="ct-series custom">
                      <path d="M64.367,29.133A50.867,50.867,0,0,0,25.287,112.561" class="ct-slice-donut" ct:value="36"
                        ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                        style="stroke-width: 17px;" stroke-dasharray="115.23920440673828px 115.23920440673828px"
                        stroke-dashoffset="-115.23920440673828px" stroke="#ffb822">
                        <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms" from="-115.23920440673828px"
                          to="0px" fill="freeze" stroke="#ffb822" begin="anim1.end" calcMode="spline"
                          keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                      </path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="col">
                <div class="m-widget14__legends">
                  <div class="m-widget14__legend">
                    <span class="m-widget14__legend-bullet m--bg-accent"></span>
                    <span class="m-widget14__legend-text">77% won projects</span>
                  </div>
                  <div class="m-widget14__legend">
                    <span class="m-widget14__legend-bullet m--bg-warning"></span>
                    <span class="m-widget14__legend-text">22% lost Projects</span>
                  </div>
                  <div class="m-widget14__legend">
                    <span class="m-widget14__legend-bullet m--bg-brand"></span>
                    <span class="m-widget14__legend-text">11% Cancelled/Rejected</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- start -->

  <!--end-->
  <!-- </div> -->

  <div
    class="m-portlet__body m-portlet__body--no-padding"
    style="margin-bottom: 25px;"
  >
    <div class="row m-row--no-padding m-row--col-separator-xl">
      <div class="col-md-12 col-lg-6 col-xl-4">
        <!--begin::New Feedbacks-->
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white;">
            <h4 class="m-widget24__title" style="margin-left: 0px;">
              Total Accountant
            </h4>
            <br />
            <span class="m-widget24__desc"> </span>
            <span class="m-widget24__stats m--font-info">
              {{ totalaccountant }}
            </span>
          </div>
        </div>
        <!--end::New Feedbacks-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <!--begin::New Orders-->
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white; ">
            <h4 class="m-widget24__title" style="margin-left: 0px">Total Purchaser</h4>
            <br />
            <span class="m-widget24__desc"> </span>
            <span class="m-widget24__stats m--font-danger">
              {{ totalpurchaser }}
            </span>
           
          </div>
        </div>
        <!--end::New Orders-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <!--begin::New Users-->
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white;">
            <h4 class="m-widget24__title" style="margin-left: 0px;">Total Supervisor</h4>
            <br />
            <span class="m-widget24__desc"></span>
            <span class="m-widget24__stats m--font-success">
              {{ totalsupervisor }}
            </span>
           
          </div>
        </div>
        <!--end::New Users-->
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="m-portlet__body">
      
      <div class="col-xl-12" >
        <div class="m-widget4">
          <div>
            <canvas id="barChart" height="400" width="100%"></canvas>
          </div>
        </div>
      </div>
    </div> -->
  <!-- <div class="col-xl-12">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
        
      </div>
    </div> -->
  <!-- </div> -->
  <div class="banksStats">
    <h4>Banks Balance Stats</h4>
    <div class="row">
      <!-- <div class="col-xl-4">
        <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
          <div class="m-portlet__head m-portlet__head--fit-">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text m--font-light">
                  Bank 1
                </h3>
              </div>
            </div>

          </div>
          <div class="m-portlet__body">
            <div class="m-widget27 m-portlet-fit--sides">
              <div class="m-widget27__pic">
                <img alt="" src="./assets/app/media/img//bg/bg-4.jpg" />
                <h3 class="m-widget27__title m--font-light">
                  <span><span>$</span>256,100</span>
                </h3>
                <div class="m-widget27__btn">
                  <button class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--bolder" type="button">
                    Inclusive All Balance
                  </button>
                </div>

              </div>

            </div>

            <div class="m-widget1">
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">Account 1</h3>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-success">$8000</span>
                  </div>
                </div>
              </div>
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">Account 2</h3>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-success">$4000</span>
                  </div>
                </div>
              </div>
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">Account 3</h3>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-success">$300</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-4">
        <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
          <div class="m-portlet__head m-portlet__head--fit-">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text m--font-light">
                  Bank 2
                </h3>
              </div>
            </div>

          </div>
          <div class="m-portlet__body">
            <div class="m-widget27 m-portlet-fit--sides">
              <div class="m-widget27__pic">
                <img alt="" src="./assets/app/media/img//bg/bg-4.jpg" />
                <h3 class="m-widget27__title m--font-light">
                  <span><span>$</span>256,100</span>
                </h3>
                <div class="m-widget27__btn">
                  <button class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--bolder" type="button">
                    Inclusive All Balance
                  </button>
                </div>

              </div>

            </div>

            <div class="m-widget1">
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">Account 1</h3>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-success">$8000</span>
                  </div>
                </div>
              </div>
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">Account 2</h3>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-success">$4000</span>
                  </div>
                </div>
              </div>
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">Account 3</h3>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-success">$300</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-xl-4" *ngFor="let bankItem of banksWithBranches">
        <div
          class="m-portlet m-portlet--head-overlay m-portlet--full-height m-portlet--rounded-force"
        >
          <div class="m-portlet__head m-portlet__head--fit-">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text m--font-light">
                  {{ bankItem.id }}
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-widget27 m-portlet-fit--sides">
              <div class="m-widget27__pic">
                <img alt="" src="./assets/app/media/img//bg/bg-4.jpg" />
                <h3 class="m-widget27__title m--font-light">
                  <span><span>Rs</span>{{ bankItem.total | shortnumber }}</span>
                </h3>
                <div class="m-widget27__btn">
                  <button
                    class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--bolder"
                    type="button"
                  >
                    Inclusive All Balance
                  </button>
                </div>
              </div>
            </div>

            <div class="m-widget1">
              <div
                class="m-widget1__item"
                *ngFor="let account of bankItem.accounts"
              >
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">{{ account.account_name }}</h3>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-success"
                      >Rs {{ account.amount | shortnumber }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projectsStats">
    <h4>Projects Stats</h4>
    <div class="row">
      <div class="col-xl-4" *ngFor="let project of userProjects; let i = index">
        <div
          class="m-portlet m-portlet--head-overlay m-portlet--full-height m-portlet--rounded-force"
        >
          <div
            class="m-portlet__head m-portlet__head--fit"
            style="background-color: orangered;"
          >
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text m--font-light">
                  {{ project.project }}
                </h3>
              </div>
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">
              <!--begin::Widget 14-->
              <div class="m-widget4">
                <!--begin::Widget 14 Item-->
                <div class="m-widget4__item">
                  <div class="m-widget28__tab-items" style="padding-top: 7px;">
                    <div class="m-widget28__tab-item">
                      <div
                        class="m-widget4__img m-widget4__img--pic"
                        style="padding-left: 15px;"
                      >
                        <img
                          src="./assets/app/media/img/users/100_4.jpg"
                          alt=""
                        />
                      </div>
                      <div style="padding-right: 15px;">
                        <span
                          style="
                            margin-right: 39px;
                            font-size: initial;
                            /* font-weight: 300; */
                            font-family: sans-serif;
                          "
                          >Supervisor</span
                        >
                        <span style="font-size: initial;">{{
                          project.supervisor
                        }}</span>
                      </div>
                    </div>
                    <div class="m-widget28__tab-item" style="padding-top: 7px;">
                      <div
                        class="m-widget4__img m-widget4__img--pic"
                        style="padding-left: 15px;"
                      >
                        <img
                          src="./assets/app/media/img/users/100_4.jpg"
                          alt=""
                        />
                      </div>
                      <div style="padding-right: 15px;">
                        <span
                          style="
                            margin-right: 39px;
                            font-size: initial;
                            /* font-weight: 300; */
                            font-family: sans-serif;
                          "
                          >Purchaser</span
                        >
                        <span style="font-size: initial;">{{
                          project.purchaser
                        }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Widget 14-->
            </div>
          </div>

          <!-- <div class="m-portlet__body">
            <div class="m-widget28">
              <div class="m-widget28__pic m-portlet-fit--sides">
                <img src="./assets/app/media/img/users/100_5.jpg" alt=""> 
              </div>
              <div class="m-widget28__container">
                <div class="m-widget28__tab tab-content">
                  <div
                    class="m-widget28__tab-container tab-pane active"
                    id="menu11"
                  >
                 
                    <div class="m-widget28__tab-items">
                      <div class="m-widget28__tab-item">
                        <span>Supervisor</span>
                        <span>{{ project.supervisor }}</span>
                      </div>
                      <div class="m-widget28__tab-item">
                        <span>Purchaser</span>
                        <span>{{ project.purchaser }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <!-- 
      <div class="col-xl-4">
          <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
            <div class="m-portlet__head m-portlet__head--fit">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text m--font-light">Project 2</h3>
                </div>
              </div>
  
            </div>
            <div class="m-portlet__body">
              <div class="m-widget28">
                <div class="m-widget28__pic m-portlet-fit--sides"></div>
                <div class="m-widget28__container">
                  <div class="m-widget28__tab tab-content">
                    <div class="m-widget28__tab-container tab-pane active" id="menu12">
                      <div class="m-widget28__tab-items">
                        <div class="m-widget28__tab-item">
                          <span>Supervisor</span>
                          <span>ABC Supervisor</span>
                        </div>
                        <div class="m-widget28__tab-item">
                          <span>Manager</span> <span>ABC Manager</span>
                        </div>
                        <div class="m-widget28__tab-item">
                          <span>Employee</span> <span>Max</span>
                        </div>
                        <div class="m-widget28__tab-item">
                          <span>Employee</span> <span>Mark</span>
                        </div>
  
                        <div class="m-widget28__tab-item">
                          <span>Employee</span> <span>Clark</span>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>

  <div
    class="m-portlet__body m-portlet__body--no-padding"
    style="margin-bottom: 25px;"
  >
    <h4>Financial Reports</h4>
    <div class="row m-row--no-padding m-row--col-separator-xl h-180px">
      <div class="col-md-12 col-lg-6 col-xl-2" routerLink="/dashboard/reports" style="margin-right: auto;">
        <!--begin::New Orders-->
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white;">
            <div style="margin-bottom: 1rem;">
              <i class="m-menu__link-icon fas fa-university" style="color: lightblue; font-size: 2.5rem;"></i>
            </div>
            <h5>Bank Log</h5>
          </div>
        </div>
        <!--end::New Orders-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-2" routerLink="/dashboard/reports" style="margin-right: auto;">
        <!--begin::New Orders-->
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white;">
            <div style="margin-bottom: 1rem;">
              <i class="m-menu__link-icon fas fa-calendar" style="color: lightcoral; font-size: 2.5rem;"></i>
            </div>
            <h5>Date Log</h5>
          </div>
        </div>
        <!--end::New Orders-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-2" routerLink="/dashboard/reports" style="margin-right: auto;">
        <!--begin::New Orders-->
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white;">
            <div style="margin-bottom: 1rem;">
              <i class="m-menu__link-icon fas fa-address-book" style="color: olivedrab; font-size: 2.5rem;"></i>
            </div>
            <h5>Payee Log</h5>
          </div>
        </div>
        <!--end::New Orders-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-2" routerLink="/dashboard/reports" style="margin-right: auto;">
        <!--begin::New Orders-->
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white;">
            <div style="margin-bottom: 1rem;">
              <i class="m-menu__link-icon fas fa-book" style="color: violet; font-size: 2.5rem;"></i>
            </div>
            <h5>Cheque book Log</h5>
          </div>
        </div>
        <!--end::New Orders-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-2" routerLink="/dashboard/reports" style="margin-right: auto;">
        <!--begin::New Orders-->
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white;">
            <div style="margin-bottom: 1rem;">
              <i class="m-menu__link-icon fas fa-calculator" style="color: darkorange; font-size: 2.5rem;"></i>
            </div>
            <h5>Cost Log</h5>
          </div>
        </div>
        <!--end::New Orders-->
      </div>
      <!-- <div class="col-md-12 col-lg-6 col-xl-2" routerLink="/dashboard/reports">
       
        <div class="m-widget24">
          <div class="m-widget24__item" style="background-color: white;">
            <div style="margin-bottom: 1rem;">
              <i class="m-menu__link-icon fas fa-credit-card" style="color: pink; font-size: 2.5rem;"></i>
            </div>
            <h5>Request Payment</h5>
          </div>
        </div>
       
      </div> -->
    </div>
  </div>
</div>
