<!-- BEGIN: Left Aside --> 
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn"
	appunwraptag=""><i class="la la-close"></i></button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
		m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative; height: 100%">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow" *ngIf="role == 'Director'; else elseBlock">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/dashboard/menu" class="m-menu__link">
					<i class="m-menu__link-icon fas fa-chart-line"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Dashboard</span>
						</span></span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/dashboard/projects-list" class="m-menu__link">
					<i class="m-menu__link-icon fas fa-briefcase"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Projects</span>
						</span></span>
				</a>
			</li>

			<!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/dashboard/print-cheque" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-technology-2"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Print Cheque</span>
						</span>
					</span>
				</a>
			</li> -->

			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/dashboard/reports" class="m-menu__link">
					<i class="m-menu__link-icon fas fa-chart-bar"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Reports</span>
						</span>
					</span>
				</a>
			</li>

			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/settings" class="m-menu__link">
					<i class="m-menu__link-icon fas fa-cog"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Settings</span>
						</span>
					</span>
				</a>
			</li>

			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true"><a routerLink="/login" class="m-menu__link"><i
						class="m-menu__link-icon fas fa-sign-out-alt"></i><span class="m-menu__link-title"> <span
							class="m-menu__link-wrap"> <span class="m-menu__link-text">Logout</span>
						</span></span></a>
			</li>

		</ul>

		<ng-template #elseBlock>
			<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
				<li class="m-menu__item  " routerLinkActive="m-menu__item--active"
					routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
					<a routerLink="/dashboard/reports" class="m-menu__link">
						<i class="m-menu__link-icon fas fa-chart-bar"></i>
						<span class="m-menu__link-title">
							<span class="m-menu__link-wrap">
								<span class="m-menu__link-text">Reports</span>
							</span>
						</span>
					</a>
				</li>

				<li class="m-menu__item  " routerLinkActive="m-menu__item--active"
					routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
					<a routerLink="/settings/bank" class="m-menu__link">
						<i class="m-menu__link-icon fas fa-briefcase"></i>
						<span class="m-menu__link-title">
							<span class="m-menu__link-wrap">
								<span class="m-menu__link-text">Banks</span>
							</span></span>
					</a>
				</li>
				
				<li class="m-menu__item  " routerLinkActive="m-menu__item--active"
				routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/settings/account" class="m-menu__link">
					<i class="m-menu__link-icon fas fa-briefcase"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Accounts</span>
						</span></span>
				</a>
			</li>

			<li class="m-menu__item  " routerLinkActive="m-menu__item--active"
			routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
			<a routerLink="/settings/chequebook" class="m-menu__link">
				<i class="m-menu__link-icon fas fa-briefcase"></i>
				<span class="m-menu__link-title">
					<span class="m-menu__link-wrap">
						<span class="m-menu__link-text">Cheque Book</span>
					</span></span>
			</a>
			</li>

				<!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active"
					routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
					<a routerLink="/dashboard/print-cheque" class="m-menu__link">
						<i class="m-menu__link-icon flaticon-technology-2"></i>
						<span class="m-menu__link-title">
							<span class="m-menu__link-wrap">
								<span class="m-menu__link-text">Print Cheque</span>
							</span>
						</span>
					</a>
				</li> -->

				<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true">
				<a routerLink="/settings/setting" class="m-menu__link">
					<i class="m-menu__link-icon fas fa-cog"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">Settings</span>
						</span>
					</span>
				</a>
			</li>

				<li class="m-menu__item  " routerLinkActive="m-menu__item--active"
					routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"><a routerLink="/login"
						class="m-menu__link"><i class="m-menu__link-icon fas fa-sign-out-alt"></i><span
							class="m-menu__link-title"> <span class="m-menu__link-wrap"> <span
									class="m-menu__link-text">Logout</span>
							</span></span></a>
				</li>

			</ul>
		</ng-template>
	</div> 
	<!-- END: Aside Menu -->
</div> 
<!-- END: Left Aside -->

