.m-btn--custom {
  background-color: #ff3301;
  color: white;
}

.m-btn--custom:hover {
  background-color: rgb(255, 18, 1);
  color: white;
}

.outline-theme:hover {
  background-color: rgb(255, 18, 1);
  color: white;
}

.outline-theme {
  border-color: #ff3301;
  color: #ff3301;
}
