.m-btn--custom {
  background-color: #ff3301;
  color: white;
}

.m-btn--custom:hover {
  background-color: rgb(255, 18, 1);
  color: white;
}

.m-btn--custom-outline:hover {
  background-color: rgb(255, 18, 1);
  color: white;
}

.m-btn--custom-outline {
  border-color: #ff3301;
  color: #ff3301;;
}
